<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
    <div>
      <p>
         Use this page to manage countries which will be displayed in the customer registration </br>
         Click load Country List first
      </p>
    </div>
    <div>
      <input type="button" value="Load Country List" id="buttonLoadCountries" class="btn btn-primary m-2"/>
    </div>
    
    <div>
        <select class="form-control m-2" style="height: 300px" size="3" id="dropDownCountries">  <!-- select: được dùng để tạo một danh sách chọn lựa, size: số lựa chọn -->
        
        </select>
    </div>
    
    <div class="form-group row m-2">
       <label class="col-form-label">Country Name:</label>   <!-- label: sử dụng để định nghĩa nhãn cho phần tử <input> -->
         <div class="col-md">
             <input type="text" class="form-control mt-2" id="fieldCountryName" />
         </div>
         
       <label class="col-form-label">Code:</label>   <!-- label: sử dụng để định nghĩa nhãn cho phần tử <input> -->
         <div class="col-md">
             <input type="text" class="form-control mt-2" id="fieldCountryCode" />
         </div> 
         
       <div class="col-lg-4 mt-2">
          <input type="button" value="Add" class="btn btn-secondary mr-2" />
          <input type="button" value="Update" class="btn btn-secondary mr-2" />
          <input type="button" value="Delete" class="btn btn-secondary mr-2" />         
       </div>          
    </div>
</div>

</body>
</html>