<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
   <div class="row" id="divProductImages">
       <div class="col border m-3 p-2">
          <div><label>Main Images:</label></div>
          <div>
             <img id="thumbnail" alt="Main image preview" class="img-fluid"
                   th:src="@{${product.mainImagePath}}"/>
          </div>
          <div>
             <input type="file" id="fileImage" name="fileImage" required
                   accept="image/png, image/jpeg" />
          </div>
       </div>

       <div class="col border m-3 p-2" id="divExtraImage0">
          <div id="extraImageHeader0"><label>Extra Images #1:</label></div>
          <div>
             <img id="extraThumbnail0" alt="Extra image #1 preview" class="img-fluid"
                   th:src="@{/images/image-thumbnail.png}"/>
          </div>
          <div>
             <input type="file" name="extraImage" required
                   accept="image/png, image/jpeg" />
          </div>
       </div>    
       
   </div>
</div>
</body>
</html>